.home-top {
	float:left;
	width: 100%;
}

/*-----Home content categore css start-----*/

.home-top-cats {
 	float:left; 
 	padding: 0 5px; 
 	width: 250px; 
 }
	.ht-cats-title {
		padding:4px 10px; 
		background-color: #f2f2f2; 
		border-bottom: 1px solid #e9e9e9;
	}
	.ht-cats-title span {
		color: #333; 
		font-size: 90%; 
		font-weight: bold;
	}
	.ht-cats-list { 
		background-color: #fff; 
		min-width:200px; 
		float:left;  
	}
	.sub-cats-items { 
		float: left; 
	}
	.sub-cats-title { 
		padding:4px 10px; 
		background-color: #f2f2f2; 
		border-bottom: 1px solid #e9e9e9;
	}
	.sub-cats-title span {
		color: #333; 
		font-size: 80%; 
		font-weight: bold;
	}
	.ht-cats-list{ 
		list-style-type: none; 
		border: 1px solid #eee; 
	} 
	.ht-cats-list li a { 
		padding:10px 0px; 
		display:block; 
		background-color: #fff; 
		text-decoration:none; 
	} 
	.ht-cats-list li ul {
		padding: 0px 0px 0px 0px;
		width: auto;
		height: auto;
	}
	.sub-cats-items { 
		padding:0px 0px 0px 0px; 
		display:block; 
		background-color: #fff; 
		text-decoration:none; 
		list-style-type: none;
	} 
	.ht-cats-list li a:hover { 
		color: #f90; 
		border-top: 1px solid #eee; 
		border-bottom:1px solid #eee;
	}
	.ht-cats-list li:hover > ul { 
		left: 255px;
		top: 50px; 
		float: left;
		position: fixed;
		z-index: 2;
		-moz-transition: border-color 0.5s ease-in-out;
		-webkit-transition: border-color 0.5s ease-in-out;
		-ms-transition: border-color 0.5s ease-in-out;
		transition: border-color 0.5s ease-in-out;
	} 
	.ht-cats-list li > ul { 
		position: absolute; 
		background-color: #fff; 
		min-width: auto;
		top: 0; 
		left: -2000px; 
		height: auto; 
		border: 1px solid #eee;
	} 
	.ht-cats-list li > ul li a:hover { 
		background-color:#fff; 
		color: #f90;  
	}
	.sub-cats-items-row {
		display: block;
		float: none;
	}

/*-----Home content category css end-----*/
		
	.top-banner1 {
		float:left;
		width:648px;  
		height:423px; 
		background-color:#eee; 
		border:1px solid #ccc;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	#top-banner1-slider{
		overflow: hidden;
	}
	#tb1-slider{
		position: relative;
		overflow: hidden;
		height: 423px;
		padding:0;
		left:0;
	}
	#tb1-slider li{
		position:relative;
		max-width: 100%;
		float:left;
		list-style: none;
		left: 0;
	}

	.top-banner2 {
		float:left; 
		width:348px; 
		height:423px; 
		background-color:#eee; 
		border:1px solid #ccc;
	}
		
/*--------------------------------------*/

	.home-top-items {
		float:left; 
		margin: 20px 0;
	}
		.ht-item {
			float:left; 
			width:230px; 
			height:270px; 
			padding:2px 4px; 
			margin-right:20px; 
			overflow:hidden; 
			background-color:#eee;
		}	
		.ht-item-last {
			float:left; 
			width:230px; 
			height:270px; 
			background-color:#eee;
		}	
		
	
/* -------------------------------------*/

	
	